html {
  font-size: 16px;
}

body {
  width: 100vw;
  margin: 0;
  height: $fixed-100-vh;
  box-sizing: border-box;
  font-size: 16px;
  overflow: hidden;
  user-select: none;
  background-image: linear-gradient(to right, $color-gray-2, $color-violet-1, $color-red-1, $color-green-1, $color-yellow-1);
}

.g-relative {
  position: relative;
}