html {
  font-size: 16px;
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
  color: $color-dark-9;
}

body {
  width: 100vw;
  margin: 0;
  height: $fixed-100-vh;
  box-sizing: border-box;
  font-size: 16px;
  overflow: hidden;
  user-select: none;
  background-image: $bg-image;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide-enter-active, .slide-leave-active {
  transition: all 0.3s
}

.slide-enter-from, .slide-leave-to {
  transform: translate3d(100%, 0, 0)
}

.list-enter-active, .list-leave-active {
  transition: all 0.3s;
}

.list-enter-from, .list-leave-to {
  height: 0 !important;
}

.g-relative {
  position: relative;
}
