html {
  font-size: 16px;
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
  color: $color-dark-9;
}

body {
  width: 100vw;
  margin: 0;
  height: $fixed-100-vh;
  box-sizing: border-box;
  font-size: 16px;
  overflow: hidden;
  user-select: none;
  background-image: $bg-image;
}

.g-relative {
  position: relative;
}