@font-face {
  font-family: "iconfont"; /* Project id 3410417 */
  src: url('../fonts/iconfont.woff2?t=1654947581181') format('woff2'),
       url('../fonts/iconfont.woff?t=1654947581181') format('woff'),
       url('../fonts/iconfont.ttf?t=1654947581181') format('truetype');
}

[class^="icon-"], [class*=" icon-"] {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-trash:before {
  content: "\e738";
}

.icon-close-circle:before {
  content: "\e77d";
}

.icon-upa:before {
  content: "\e615";
}

.icon-Up-:before {
  content: "\e75d";
}

.icon-Dismiss-1:before {
  content: "\e668";
}

.icon-Dismiss:before {
  content: "\e667";
}

.icon-ic_music:before {
  content: "\e6bf";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-yuanxunhuanbofang:before {
  content: "\e61e";
}

.icon-danqubofang:before {
  content: "\e621";
}

.icon-suijibofang:before {
  content: "\e622";
}

.icon-back_android:before {
  content: "\e7ed";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-bofangzhong:before {
  content: "\e68f";
}

.icon-gengduo:before {
  content: "\e690";
}

.icon-tinggeshiqu:before {
  content: "\e691";
}

.icon-zanting:before {
  content: "\e692";
}

.icon-shangyiqu:before {
  content: "\e693";
}

.icon-xiayiqu:before {
  content: "\e694";
}

.icon-lishibofang:before {
  content: "\e695";
}

.icon-yinleguan:before {
  content: "\e696";
}

.icon-bofangliebiao:before {
  content: "\e697";
}

.icon-bofangduilie:before {
  content: "\e699";
}

.icon-shoucang:before {
  content: "\e69a";
}

.icon-suijibofang1:before {
  content: "\e6a0";
}

.icon-shunxubofang:before {
  content: "\e6a1";
}

.icon-danquxunhuan:before {
  content: "\e6a2";
}

.icon-liebiaoxunhuan:before {
  content: "\e6a3";
}

.icon-box:before {
  content: "\e71a";
}

.icon-play-circle:before {
  content: "\e781";
}

.icon-headset:before {
  content: "\e874";
}

.icon-media-next:before {
  content: "\e876";
}

.icon-media-pause:before {
  content: "\e877";
}

.icon-media-play:before {
  content: "\e878";
}

.icon-media-previous:before {
  content: "\e879";
}

.icon-sousuo:before {
  content: "\100d0";
}

.icon-tianjia:before {
  content: "\100d1";
}

.icon-a-zujiantianchong_huaban1fuben17:before {
  content: "\e6dc";
}