$fixed-100-vh: calc(100vh - var(--vh-offset));
$color-gray-1: #f9f9f9;
$color-gray-2: #f4f4f4;
$color-gray-3: #eeeeee;
$color-gray-4: #e6e6e6;
$color-gray-5: #cccccc;
$color-gray-6: #bcbcbc;
$color-gray-7: #aeaeae;

$color-dark-1: #aaa;
$color-dark-2: #999;
$color-dark-3: #888;
$color-dark-4: #777;
$color-dark-5: #666;
$color-dark-6: #555;
$color-dark-7: #444;
$color-dark-8: #333;
$color-dark-9: #222;

$color-violet-dot5: #fefcff;
$color-violet-1: #faf5ff;
$color-violet-2: #ccafff;
$color-violet-3: #b990ff;
$color-violet-8: #7640ff;
$color-violet-10: #792bff;

$color-red-dot5: rgb(255, 251, 251);
$color-red-1: rgb(255, 246, 246);
$color-red-2: rgb(255, 214, 214);
$color-red-3: rgb(255, 179, 179);
$color-red-8: rgb(255, 19, 19);

$color-yellow-dot5: rgb(255, 255, 250);
$color-yellow-1: rgb(255, 255, 245);

$color-green-dot5: rgb(252, 255, 251);
$color-green-1: rgb(248, 255, 245);

$color-transparent-1: rgba(0, 0, 0, 0.1);
$color-transparent-2: rgba(0, 0, 0, 0.2);
$color-transparent-3: rgba(0, 0, 0, 0.3);
$color-transparent-4: rgba(0, 0, 0, 0.4);
$color-transparent-5: rgba(0, 0, 0, 0.5);
$-color-transparent-1: rgba(255, 255, 255, 0.1);
$-color-transparent-2: rgba(255, 255, 255, 0.2);
$-color-transparent-3: rgba(255, 255, 255, 0.3);
$-color-transparent-4: rgba(255, 255, 255, 0.4);
$-color-transparent-5: rgba(255, 255, 255, 0.5);

$bg-image: linear-gradient(to right, $color-gray-2, $color-violet-1, $color-red-1, $color-green-1, $color-yellow-1);
$bg-image-l: linear-gradient(to right, $color-gray-1, $color-violet-dot5, $color-red-dot5, $color-green-dot5, $color-yellow-dot5);