$fixed-100-vh: calc(100vh - var(--vh-offset));
$color-gray-1: #f9f9f9;
$color-gray-2: #f4f4f4;
$color-gray-3: #eeeeee;
$color-gray-4: #dbdbdb;
$color-gray-5: #cccccc;
$color-gray-6: #bcbcbc;
$color-gray-7: #aeaeae;


$color-violet-10: #522bff;
$color-transparent-1: rgba(0, 0, 0, 0.1);
$color-transparent-2: rgba(0, 0, 0, 0.2);
$color-transparent-3: rgba(0, 0, 0, 0.3);
$color-transparent-4: rgba(0, 0, 0, 0.4);
$color-transparent-5: rgba(0, 0, 0, 0.5);
$-color-transparent-1: rgba(255, 255, 255, 0.1);
$-color-transparent-2: rgba(255, 255, 255, 0.2);
$-color-transparent-3: rgba(255, 255, 255, 0.3);
$-color-transparent-4: rgba(255, 255, 255, 0.4);
$-color-transparent-5: rgba(255, 255, 255, 0.5);